* {
    margin: 0;
}

body {
    font-family: monospace;
    font-size: 20px;
}

main {
    width: 80%;
    margin: 0 auto;
    background: coral;
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

#up {
    grid-area: up;
}

#down {
    grid-area: down;
}

#add {
    grid-area: add;
}

#remove {
    grid-area: remove;
}

#buttons {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(10, auto);
    grid-gap: 5px;
    grid-template-areas: ". . ." ". . ." ". up ." ". down ." ". . ." ". . ." ". . ." ". . ." ". add ." ". remove ." ". . ." ". . .";
}

button {
    border-radius: 5px;
    border-width: thin;
    padding: 2% 10px;
    width: 80%;
    text-align: center;
    font-family: monospace;
}

button:hover{
    background: #09f;
    font-weight: bold;
}

#elevator article {
    margin: 10px auto;
    border: 1px solid #333;
    width: 150px;
    text-align: center;
}
