* {
    margin: 0;
}

body {
    background: #ccc;
}

.container {
    width: 100%;
    max-width: 755px;
    height: 280px;
    margin: 0 auto;
    display: flex;
    background: #FFD62A;
    flex-wrap: wrap;
    flex-flow: row;
    align-items: center;
    justify-content: flex-start;
}

ul {
    list-style-type: none;
    padding: 0;
}

.item {
    width: 110px;
    height: 110px;
    background: #B02AFF;
    margin-right: 10px;
}
