* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: radial-gradient(circle at center, rgba(255, 0, 0, 0.6), rgba(0, 0, 255, 0.6));
}

main {
    width: 70%;
    margin: 1% auto;
}

.slides {
    display: none;
}

img {
    vertical-align: middle;
    width: 100%;
}

.container {
    /*    width: 80%;*/
    margin: 1% auto;
    position: relative;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -5%;
    transition: 0.6s ease;
    font-size: 32px;
    font-weight: bold;
    border-radius: 0 3px 3px 0;
    background: #fff;
    user-select: none;
}

.prev {
    left: 0;
    border: none;
}

.next {
    right: 0;
    border: none;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.6);
    color: rgba(255, 255, 255, 0.6);
}

.cursor {
    cursor: pointer;
}

.fade {
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

.content {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

.row {
    width: 100%;
    margin: 0 auto;
}

.row::after {
    content: '';
    display: block;
    clear: both;
}

.column {
    /*    float: left;*/
    display: inline-block;
    width: 12%;
    margin: 0 auto;
}

.style {
    opacity: 0.6;
}

.active,
.style:hover {
    opacity: 1;
}
