* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: cursive;
}

main {
  margin: 10px;
}

button {
  font-family: cursive;
  border: none;
  padding: 5px;
  line-height: 1.5;
  background: #57f;
  border-radius: 5px;
}

input {
  font-family: cursive;
}
