* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ddd;
  display: block;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
}

/********************* HEADER ***********************/

header {
  height: 200px;
  background: url(/image/outer-space-stars.jpg) 0 no-repeat;
  background-size: cover;
  border: none;
  position: relative;
  text-align: center;
  color: #333;
}

header h1 {
  letter-spacing: 50px;
  font-size: 3em;
  padding-top: 60px;
}

header p {
  padding-top: 30px;
  font-weight: bolder;
}

#logo {
  position: absolute;
  top: 60px;
  left: 60px;
  transform: rotate(15deg);
}

/***************** MAIN ********************/

main {
  position: relative;
  margin: 10px;
}

a {
  text-decoration: none;
}

section {
  background: #fff;
  position: absolute;
  float: left;
  width: 70%;
}

.content {
  overflow: hidden;
  padding-right: 5px;
}

aside {
  float: right;
  width: 29%;
}

section::after,
aside::after {
  content: "";
  display: block;
  clear: both;
}

.clearfix {
  clear: both;
}

/******************* CONTENT **********************/

section ul li {
  list-style-type: none;
  display: inline-block;
  padding: 5px 10px;
  color: #777;
  font-size: 13px;
  cursor: pointer;
}

h2 {
  padding-top: 10px;
}

.posturl {
  font-size: 0.6em;
  color: #333;
  font-weight: 300;
}

.blue {
  color: #4aa3df;
}

.vote {
  float: left;
  margin: 10px 20px 5px 10px;
}

.arrow {
  width: 30px;
  height: 30px;
}

.up {
  background-image: url(assets/upvote.png);
  background-size: cover;
}

.down {
  background-image: url(assets/downvote.png);
  background-size: cover;
}

.score {
  margin: 10px auto;
  text-align: center;
}

.like,
.dislike {
  display: none;
}

.tagline {
  font-size: 0.8em;
}

/******************** SUBMIT A NEW POST ******************/

.submit {
  background: #4aa3df;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #ddd;
}

.submit a {
  color: #ddd;
  font-size-adjust: auto;
  font-size: 1em;
}

aside h2 {
  font-size: 1em;
  padding: 10px;
  background: #fbfbfb;
}

#about a {
  color: #4aa3df;
}

#about {
  background: #f5f5f5;
}

#about p {
  text-align: center;
  margin: 15px 10px;
}

#about ul li {
  line-height: 1.5;
  margin-left: 40px;
}
