* {
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
}

body {
  background: #b4dc47;
  font-size: 22px;
  font-family: sans-serif;
  font-weight: 300;
}

main {
  display: block;
  margin: 0 auto;
  width: 80%;
  text-align: center;
}

main h1 {
  margin: 30px 0;
}

main h2 {
  font-weight: 700;
  margin: 0 0 25px;
  font-size: 1.2em;
}

main h3 {
  margin: 25px 0;
}

section {
  margin-bottom: 25px;
}

.form {
  text-align: left;
  padding: 10px 0;
}

.form select {
  font-size: 0.8em;
  margin-bottom: 25px;
}

.foxes {
  column-count: 6;
  column-width: auto;
  padding: 0;
  text-align: justify;
}

input[type=checkbox] {
  margin: 5px 10px 5px 0;
}

ul {
  list-style-type: none;
}

ol {
  column-gap: 70px;
}

ul > li,
ol > li {
  padding: 10px 0;
}

button {
  border-radius: 10px;
  border-bottom-width: thick;
  border-bottom-color: #1AAA57;
}

#start {
  margin: 25px 0;
  padding: 25px;
  font-size: 1em;
  color: #1AAA57;
}
