/* Exercise 1 */

body {
    font-size: 36px;
    margin: 0;
}
.font-opensans{
    font-family: 'Open Sans', sans-serif;
}

#exer-one article {
    margin: 8px 4px;
    width: 343px;
    height: 138px;
}
.ex1{
    background-color: #0e91a1;
    border: 4px solid #7dce94;
    padding-left: 15px;
    padding-top: 20px;
}

/* Exercise 2 */

#exer-two {
    border: 15px solid #4285f4;
    color: white;
    width: 355px;
    height: 520px;
}
.north, .east, .south, .west {
    display: block;
    margin: auto;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 41px;
}
.north{
    background-color: #e67676;
}
.east{
    background-color: #f2f062;
}

.south{
    background-color: #a9e6e6;
}
.west{
    background-color: #7692e4;
}

/* Exercise 3 */

#exer-three1, #exer-three2 {
    border: 15px solid #4285f4;
    color: white;
    margin: 2px;
    width: 383px;
}

#exer-three1 .north {
    padding: 50px 0;
}
#exer-three2 .south {
    padding: 50px 0;
}

/* Exercise 4 */

#exer-four p {
    color: #f29e17;
}

#exer-four pre {
    font-size: 20px;
}

/* Exercise 5 */

#exer-five {
    font-size: 18px;
    width: 380px;
    height: 340px;
    margin: 5px;
}

#exer-five h1 {
    font-size: 36px;
    color: #e67676;
}

#exer-five h2 {
    color: #8a2be2;
}

#exer-five ul{
    list-style-type: square;
}

#exer-five ol>li{
    list-style-type: upper-roman;
    text-decoration: underline;
    color: #ff19ff;
}

#exer-five ol>li:last-child{
    color: black;
}

/* Exercise 6 */

#exer-six1 p, #exer-six2 p{
    background-color: #0cebde;
    display: inline-block;
    width: 140px;
    border-radius: 70px;
    text-align: center;
    padding: 46px 0;
    color: #fff;
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
}

#exer-six1 p:first-child{
    background-color: #b90ceb;
}

#exer-six2 p:last-child{
    background-color: #ebbe0c;
}

/* Exercise 7 */

#exer-seven {
    font-size: 20px;
    width: 30%;
    margin: 5px;
}

.big{
    color: blue;
}

#b325, .b326 {
    border: 1px solid green;
}

div.asteroid{
    font-weight: 700;
}

p.asteroid{
    background-color: yellow;
}

/* Exercise 8 */

#exer-eight1, #exer-eight2 {
    border: 2px solid #4285f4;
    background-color: #fff;
    width: 704px;
    margin: 3px;
}

#exer-eight1 {
    background-color: #fff;
    margin-bottom: 15px;
}
#exer-eight2 {
    background-color: #e67676;
}

#exer-eight1 p, #exer-eight2 p{
    margin: 20px 5px 10px;
    display: block;
    width: 50px;
    height: 50px;
}

#exer-eight1 p:first-child, #exer-eight2 p:first-child{
    margin-left: 15px;
}

#exer-eight1 p{
    background-color: #4285f4;
    display: inline-block;
}
#exer-eight2 p{
    background-color: #643579;
    display: inline-block;
}

/* Exercise 9 */

#exer-nine {
    width: 25%;
    font-size: 16px;
    /*border: 1px solid black;*/
}

#exer-nine p, #exer-nine h1 {
    width: 80%;
    display: block;
    margin: auto;
}

#exer-nine h1 {
    font-size: 2em;
}

#exer-nine p {
    border: 3px solid #000;
    border-top: none;
    border-collapse: collapse;
    padding: 15px;
}
#exer-nine p:last-child {
    border-bottom: none;
}

#exer-nine p:nth-child(5) {
    background-color: #e67676;
}
